asgiref==3.7.2
astroid==2.15.6
autopep8==2.0.2
certifi==2023.5.7
coverage==7.4.3
dill==0.3.7
distlib==0.3.6
Django==5.0.3
filelock==3.12.2
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
pipenv==2023.7.4
platformdirs==3.8.0
psycopg==3.1.18
psycopg-binary==3.1.18
pycodestyle==2.10.0
pylint==2.17.5
python-dotenv==1.0.1
setuptools==69.1.1
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.7.1
virtualenv==20.23.1
virtualenv-clone==0.5.7
wrapt==1.15.0
